<a href="https://colab.research.google.com/github/HarvinderSinghDiwan/machine-learning/blob/master/TeamSelect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data=pd.read_csv("/content/covid project - Sheet1.csv")
rdata=pd.DataFrame(data)
rdata.head()

ERROR! Session/line number was not unique in

           Name of Candidate  ... Reference, if any :
0            Preeti Chauhan   ...                 NaN
1                Rahul Banik  ...                 NaN
2                  Murli Jha  ...                 NaN
3        Prerana Shrivastava  ...                  Na
4  RAJAMAHENDRAM SAI JAYANTH  ...                 NaN

[5 rows x 8 columns]

 database. History logging moved to new session 60

In [0]:
rdata.drop(columns=(rdata.columns[5]),inplace=True)

In [0]:
rdata.dropna(axis=1,how='all',inplace=True)

In [0]:
rdata.dropna(axis=0,how='any',inplace=True)

In [0]:
rdata.isna().sum()

Name of Candidate                                               0
College / Company Name                                          0
Designation / Year of Engineering                               0
Applying For                                                    0
Share Your Knowledge / Work Done on the technology chosen :     0
dtype: int64

In [0]:
rdata.tail()

    Name of Candidate  ... Share Your Knowledge / Work Done on the technology chosen :
809      Naveen Kolli  ...  Computer vision/Facial Recognition/Object Reco...
810      Naveen Kolli  ...  object recognition using DL frameworks ie: Ten...
811      Naveen Kolli  ...   many usecases on prediction done with in company
812      Sahil Sheikh  ...  So successfully I created COVID-19 detection s...
813              Neha  ...  I know about ethical hacking some little wit o...

[5 rows x 5 columns]

In [0]:
rdata.to_csv(r'/content/covid project - Sheet2.csv', index = False)

In [0]:
nd=pd.read_csv("/content/covid project - Sheet2.csv")

In [0]:
df=pd.DataFrame(nd)

In [0]:
df.head()

      Name of Candidate  ... Share Your Knowledge / Work Done on the technology chosen :
0   Prerana Shrivastava  ...                                                 Na
1       Siddharth Dange  ...  I am working on Weather prediction model using...
2          Aman Pradhan  ...                                                 No
3              Vishnu M  ...  Have 2 udacity nanodegrees and a coursera cert...
4  Shreeansh Srivastava  ...                                             Python

[5 rows x 5 columns]